<form class="item">


    <!-- Two way binding -->
    <input
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
      [(ngModel)]="nombreInput"
    />

    <!-- Local reference -->
    <!-- <input
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
      #nombreInput
    /> -->
  
    <!-- Two way binding -->
    <input
      type="text"
      name="apellido"
      id="apellido"
      placeholder="Apellido"
      [(ngModel)]="apellidoInput"
    />

    <!-- Local reference -->
    <!-- <input
      type="text"
      name="apellido"
      id="apellido"
      placeholder="Apellido"
      class="form-control"
      #apellidoInput
    /> -->
    <button type="submit" (click)="agregarPersona()">+</button>
</form>
